torch
git+https://github.com/huggingface/transformers.git
sentencepiece
datasets
numpy
beautifulsoup4
soupsieve
python-dateutil
newsapi-python
flask[async]
aiohttp
PyQt5
PyQtWebEngine
soundfile
requests
ohmeow-blurr
bert-score
fastai
fastcore
gTTS
