<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='images/icon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
<div class="article-container">
    <div class="article-summary">
        <label for="article-summary-text">
            Summary:
        </label><br>
        <textarea id="article-summary-text" name="article-summary-text" rows="50" wrap="hard">
                    {{ summary }}
                </textarea>
    </div>
</div>
</body>
</html>