<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      href="{{ url_for('static', filename='css/main.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='images/icon.png') }}"
      rel="icon"
    />
    <title>News Summarizer</title>
  </head>
  <body style="margin: 0">
    <div class="container">
      <div class="left-container">
        <form method="post">
          <div class="search-input">
            <label for="query"> Search: </label><br />
            <input id="query" name="query" type="text" />
          </div>

          <div class="search-input">
            <label for="category">Category:</label><br />
            <select id="category" name="category">
              <option value="all">All</option>
              <option value="business">Business</option>
              <option value="entertainment">Entertainment</option>
              <option value="general">General</option>
              <option value="health">Health</option>
              <option value="science">Science</option>
              <option value="sports">Sports</option>
              <option value="technology">Technology</option>
            </select>
          </div>

          <div class="search-input">
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>

      <div class="right-container">
        {% for i in range(0, length) %}
        <a href="{{ articles[i].url }}" target="_self">
          <div class="card">
            <img src="{{ articles[i].image }}" alt="image" />
            <div class="card-overlay">
              <h1>{{ articles[i].title }}</h1>
              <p>{{ articles[i].description }}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
