.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #444653;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    color: #ececf0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.search-menu {
    flex: 1;
    align-items: center;
    background-color: #202123;
    border-radius: 0 10px 10px 0;
    position: fixed;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    Justify-content: flex-start;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

input[type="text"], select {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

input[type="submit"] {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.article-grid-container {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    margin-left: 20%;
}

.article {
    align-items: center;
    padding: 20px;
    background-color: #343540;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 540px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.article h1 {
    position: relative;
    min-height: 60px;
    font-size: 30px;
    margin: 0;
    padding: 10px;
    color: white;
    align-self: flex-start;
    max-height: 100px;
    text-shadow: 4px 4px 1em black;
}

.article p {
    font-size: 20px;
    margin: 0;
    padding: 10px;
    color: white;
    bottom: 0;
    left: 0;
    align-self: flex-end;
    min-height: 60px;
    max-height: 140px;
    text-shadow: 4px 4px 1em black;
}