<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <title>News Summarizer</title>
</head>
<body>
    <form method="post">
        <label for="query"> Search: </label>
            <input type="text" id="query" name="query">
        <br>

        <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="all">All</option>
                <option value="business">Business</option>
                <option value="entertainment">Entertainment</option>
                <option value="general">General</option>
                <option value="health">Health</option>
                <option value="science">Science</option>
                <option value="sports">Sports</option>
                <option value="technology">Technology</option>
            </select>
        <br>

        <input type="submit" value="Submit">
        </form>

        <div class="container">
            <div class="article-container">
                {% for article in articles %}
                    <div class="article">
                        <h3 class="article-title">{{ article.title }}</h3>
                        <p class="article-description">{{ article.description }}</p>
                        <a href="{{ article.url }}" target="_blank">Read More</a>
                    </div>
                {% endfor %}
            </div>
        </div>
</body>
</html>